<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481830882695-7i7r2g88thdbpd4og4jap1e1a21oojmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481830882695-7i7r2g88thdbpd4og4jap1e1a21oojmb</string>
	<key>API_KEY</key>
	<string>AIzaSyBbF5_MEvecJSWPPlYc2sd0g5ah1OIl1Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>481830882695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techplanetapps.aats</string>
	<key>PROJECT_ID</key>
	<string>sprogteam-267cd</string>
	<key>STORAGE_BUCKET</key>
	<string>sprogteam-267cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481830882695:ios:9ae4e0d6dc66b863e91722</string>
	<key>DATABASE_URL</key>
	<string>https://sprogteam-267cd-default-rtdb.firebaseio.com</string>
</dict>
</plist>